Package: simple-server
Version: 1.0-1
Section: utils
Priority: optional
Architecture: all
Maintainer: Ericwasepic127 <ericwasepic127@outlook.com>
Depends: python3, python3-tk
Description: Simple HTTP Server with GUI
